*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}


.hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav>ul>li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}
nav>ul>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    
}
.submenu{
    background-color: transparent;
    position: absolute;
    width: 120px;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    
    
}
.submenu li{
    display: block;
    padding: 12px;
    font-size: 20px;
    
    
}
nav>ul>li:hover .submenu{
    opacity: 1;
    visibility: visible;
    
}
.submenu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


.content{
    text-align: center;
    
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;

}


.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.cpro{
    background-image: url(c.webp);
    background-attachment: fixed;
    background-size: cover;
    
}
.cpro>h1{
    padding: 240px 130px 100px  ;
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-weight: 400;
}
.cpro h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 1s;

}
.cpro p{
    line-height: 50px;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}
.cpro h2{
    text-decoration: underline;
    color: #fff;
    padding: 60px 50px;
    font-size: 40px;
}
.second{
    background-image: url(c++.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}
.second h1{
    padding: 240px 130px 100px  ;
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    
}
.second h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 1s;
    

}
.second h3{
    padding: 10px 40px;
    
    font-size: 50px;
    color: #fff;
    font-weight: 100;
    text-decoration: underline;
}
.second p{
    line-height: 60px;
    padding: 30px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}
.second h2{
    text-decoration: underline;
    color: #fff;
    padding: 60px 50px;
    font-size: 40px;
}
.jvpro{
    background-image: url(wp2527107.webp);
    background-attachment: fixed;
    background-size: cover
}
.jvpro h1{
    padding: 240px 130px 100px  ;
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-weight: 400;
}
.jvpro h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 2s;
    

}
.jvpro p{
    line-height: 60px;
    padding: 30px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}
.jvpro h3{
    padding: 10px 40px;
    
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    text-decoration: underline;
}
.