*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


.hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: rgb(199, 187, 188);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav>ul>li{
    
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    

}
nav>ul>li>a {
    text-decoration: none;
    color: rgb(2, 0, 0);
    font-size: 17px;
    
}
nav>ul>li:hover .submenu{
    opacity: 1;
    visibility: visible;
    
}

.content{
    text-align: center;
    
    
}
.content h1{
    font-family: inherit;
    font-size: 130px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;

}


.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    background-blend-mode: darken;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.cpro{
    background-image: url(bestback.webp);
    background-attachment: fixed;
    background-size: cover;
    
}
.cpro>h1{
    padding: 240px 130px 100px  ;
    text-align: center;
    font-size: 80px;
    color: rgb(27, 3, 3);
    font-weight: 400;
}
.cpro h1:hover{
    -webkit-text-stroke: 2px rgb(58, 8, 8);
    color: transparent;
    transition: 1s;

}
.cpro p{
    background-color: azure;
    line-height: 50px;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: rgb(10, 6, 6);
    font-weight: 200;
}
.cpro h2{
    text-decoration: underline;
    color: rgb(61, 6, 6);
    padding: 60px 50px;
    font-size: 40px;
}
.programs ul li a{
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    color: rgb(61, 6, 6);
    font-size: 40px;
    
}
.second{
    background-image: url(bestback.webp);
    background-attachment: fixed;
    background-size: cover;
}
.second h1{
    padding: 240px 130px 100px  ;
    text-align: center;
    font-size: 80px;
    color: rgb(11, 9, 9);
    font-weight: 400;
    
}
.second h1:hover{
    -webkit-text-stroke: 2px rgb(7, 6, 6);
    color: transparent;
    transition: 1s;
    

}
.second h3{
    padding: 10px 40px;
    font-size: 50px;
    color: rgb(12, 9, 9);
    font-weight: 100;
    text-decoration: underline;
}
.second p{
    background-color: azure;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 60px;
    padding: 30px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: rgb(12, 9, 9);
    font-weight: 100;
}
.second h2{
    text-decoration: underline;
    color: rgb(13, 7, 7);
    padding: 60px 50px;
    font-size: 40px;
}
.jvpro{
    background-image: url(bestback.webp);
    background-attachment: fixed;
    background-size: cover
}
.jvpro h1{
    padding: 240px 130px 100px  ;
    text-align: center;
    font-size: 80px;
    color: rgb(11, 9, 9);
    font-weight: 400;
}
.jvpro h1:hover{
    -webkit-text-stroke: 2px rgb(12, 11, 11);
    color: transparent;
    transition: 2s;
    

}
.jvpro p{
    background-color: azure;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 60px;
    padding: 30px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    color: rgb(8, 6, 6);
    font-weight: 100;
}
.jvpro h3{
    padding: 10px 40px;
    margin-left: 50px;
    font-size: 40px;
    color: rgb(15, 7, 7);
    font-weight: 100;
    text-decoration: underline;
}
.jvpro h2{
    text-decoration: underline;
    color: rgb(13, 7, 7);
    padding: 60px 50px;
    font-size: 40px;}
.exp{
    background-color: bisque;
}
.codes{
    margin-left: 30px;
    margin-right: 30px;
    background-color: azure;
}
.codes p{
    background-color: transparent;
    margin-top: -50px;
    margin-bottom: -20px;
}
